.card-last-table {
    width: 100%;
}

.card-last-table th {
    text-align: left;
}



.card-last-table th,
.card-last-table td {
    padding: 0.25em;
}

th.pos-col, .pos-col {
    text-align: center;
}


th.gap-col, .gap-col {
    text-align: right;
}