/* Styles for the secondary in the hero section */
.card-last, .card-upcoming-container {
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    width: 98%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0.25em 0.5em;
}

/* LASTRACECARD specific styling */
.card-last-info, .card-upcoming-info {
    font-size: 0.95rem;
    line-height: 1.2;
    margin-bottom: 0.25em;
}

/* Upcoming Schedule Card */
.card-upcoming-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.card-upcoming-info {
    grid-column: span 6;
}

.card-upcoming-race {
    grid-column: span 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
    border-bottom: var(--bottom-border);
}

.card-upcoming-race:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.card-upcoming-race-round {
    line-height: 1.2;
    margin: 0;
    font-size: 0.8rem;
}


