.card-session {
    display: flex;
    gap: 0.5em;
    border-bottom: var(--bottom-border);
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
}

.card-session:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-session-date {
    margin-left: auto;
}

.card-session-date::after {
    display: inline;
    content: " - "
}