.hero-section {
    width: 95%;
    margin: 0 auto;
    max-width: 1000px;
}

.hero-secondary-cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (min-width: 600px) {
    .hero-secondary-cards {
        flex-direction: row;
    }
}