/* -----------
NAVBAR 
-------------- */
.navbar {
    background-color: var(--button-nav-color);
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.nav-title,
.hamburger-menu,
.close-button {
    margin: 0.5em 0.2em;
}

.nav-title-link {
    transition: 0.3s opacity;
}

.nav-title-link:focus,
.nav-title-link:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hamburger-menu {
    font-size: 1.3rem;
}

.nav-menu {
    top: 0;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 1000;
    background-color: var(--button-nav-color);
    opacity: 97%;
    transform: translateY(-100%);
    transition: 0.3s transform;
}

.nav-menu.show {
    transform: translateY(0);
    z-index: 1000;
}

.close-button {
    font-size: 1.5rem;
    margin-left: auto;
    transition: opacity 0.3s;
}

.close-button:focus,
.close-button:hover {
    opacity: 70%;
}

.nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    gap: 3em;
}

.nav-link {
    font-size: 1.5rem;
    color: var(--button-nav-text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s border-bottom;
}

.nav-link:hover,
.nav-link:focus {
    border-bottom: 4px solid white;
}

@media (min-width: 600px) {
    .navbar {
        align-items: center;
        padding: 0.5em;
    }

    .nav-title {
        margin: 0;
        width: 25%;
    }

    .hamburger-menu,
    .close-button {
        display: none;
    }

    .nav-menu {
        all: unset;
        width: 70%;
        max-width: 600px;
    }

    .nav-items {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 0 0 auto;
        gap: 1em;
    }

    .nav-link {
        font-size: 1rem;
    }

}