/* =========================================
CSS RESET
============================================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* =========================================
CSS VARIABLES
============================================*/
:root {
  /* Background colors */
  --bg-color: #f2f2f0;
  --secondary-bg-color: #D5D7D7;

  /* Text colors */
  --text-primary-color: #000000;
  --faded-text-color: rgba(0, 0, 0, 0.75);
  --button-nav-color: #DC0000;
  --button-nav-color-hover: #eec2c2;
  --button-nav-text-color: #ffffff;
  --btn-disabled-color: #808080;
  --secondary-text-color: rgba(0, 0, 0, 80%);

  /* Stylings */
  --bottom-border: 1px solid rgba(4, 4, 4, 0.137);
  --home-button-border-color: 2px solid rgba(43, 42, 42, 0.284);
}


/* =========================================
BASE STYLES
============================================*/
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-primary-color)
}

ul, li {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

button {
  display: block;
  background-color: transparent;
  border: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/* =========================================
TYPOGRAPHY
============================================*/
h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}